<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <p>Angular Material theming v14</p>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <i class="material-icons">format_color_fill</i>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="changeTheme('theme')"
        [disabled]="disabledTheme('theme')"
      >
        Light
      </button>
      <button
        mat-menu-item
        (click)="changeTheme('deep-purple-and-amber')"
        [disabled]="disabledTheme('deep-purple-and-amber')"
      >
        Deep Purple & Amber
      </button>
      <button
        mat-menu-item
        (click)="changeTheme('purple-green')"
        [disabled]="disabledTheme('purple-green')"
      >
        Purple Green
      </button>
    </mat-menu>

    <div
      style="border-left: 1px solid rgba(210, 218, 255, 0.719); height: 35px"
    ></div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle
        [checked]="darkTheme"
        (change)="setDarkTheme($event.checked)"
      ></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </div>
  </div>
</mat-toolbar>

<main>
  <div class="content mat-app-background">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="16px"
      style="padding-top: 35px"
    >
      <div fxFlex="50">
        <h1>Buttons</h1>

        <div fxLayout="row" fxLayoutGap="16px">
          <button mat-button>Basic</button>
          <button mat-raised-button color="primary" (click)="showDialog()">
            primary (Open Dialog)
          </button>
          <button mat-raised-button color="accent">Accent button</button>
          <button mat-raised-button color="warn">Warn button</button>
        </div>

        <br /><br />

        <h1>Input</h1>

        <mat-form-field>
          <input matInput placeholder="Enter some information" />
        </mat-form-field>

        <br /><br />

        <h1>Checkbox</h1>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
          <mat-checkbox>Basic</mat-checkbox>
          <mat-checkbox color="primary">Primary</mat-checkbox>
          <mat-checkbox color="accent">Accent</mat-checkbox>
          <mat-checkbox color="warn">Warn</mat-checkbox>
        </div>

        <br /><br />

        <h1>Radio</h1>
        <p>TODO</p>

        <br /><br />
        <h1>Expansion panel</h1>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> This is the expansion title </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <br /><br />
      </div>

      <div fxFlex="50">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card class="example-card" style="max-width: 400px">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <br />
    <br />
    <h1>Select</h1>
    <mat-form-field appearance="fill" floatLabel="auto">
      <mat-label>Color</mat-label>
      <mat-select [(value)]="type">
        <mat-option [value]="option" *ngFor="let option of typeList">
          {{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <p>You selected: {{ type }}</p>
    <br />

    <app-banner [type]="type" [message]="'This component will get own theme'">
    </app-banner>

    <br />
    <br />
    <br />
  </div>
</main>
