@use '@angular/material' as mat;
@include mat.core();

$suffix: -dark;

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((
  color: (
   primary: $primary,
   accent: $accent,
   warn: $warn
  )
));
@include mat.all-component-themes($theme);
.theme {
  @include  mat.all-component-themes($theme);
}

$primary-dark: mat.define-palette(mat.$blue-gray-palette, 500);
$accent-dark: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn-dark: mat.define-palette(mat.$deep-orange-palette);
$theme-dark: mat.define-dark-theme((
  color: (
   primary: $primary-dark,
   accent: $accent-dark,
   warn: $warn-dark
  )
));
.theme#{$suffix} {
  // @include  angular-material-theme($my-dark-theme); < v14
  @include  mat.all-component-themes($theme-dark);
}

// deep-purple-and-amber
$primary-deep-purple-and-amber: mat.define-palette(mat.$deep-purple-palette);
$accent-deep-purple-and-amber: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn-deep-purple-and-amber: mat.define-palette(mat.$red-palette, 500);
$deep-purple-and-amber: mat.define-light-theme((
  color: (
   primary: $primary-deep-purple-and-amber,
   accent: $accent-deep-purple-and-amber,
   warn: $warn-deep-purple-and-amber
  )
));
.deep-purple-and-amber {
  @include  mat.all-component-themes($deep-purple-and-amber);
}

$deep-purple-and-amber-dark: mat.define-dark-theme((
  color: (
    primary: $primary-deep-purple-and-amber,
    accent: $accent-deep-purple-and-amber,
    warn: $warn-deep-purple-and-amber
  )
));
.deep-purple-and-amber#{$suffix}{
  @include  mat.all-component-themes($deep-purple-and-amber-dark);
}

$primary-purple-green: mat.define-palette(mat.$purple-palette);
$accent-purple-green: mat.define-palette(mat.$green-palette, A200, A100, A400);
$warn-purple-green: mat.define-palette(mat.$red-palette, 500);
$deep-purple-green: mat.define-light-theme((
  color: (
    primary: $primary-purple-green,
    accent: $accent-purple-green,
    warn: $warn-purple-green
  )
));
.purple-green {
  @include  mat.all-component-themes($deep-purple-green);
}
$deep-purple-green-dark: mat.define-dark-theme((
  color: (
    primary: $primary-purple-green,
    accent: $accent-purple-green,
    warn: $warn-purple-green
  )
));
.purple-green#{$suffix} {
  @include  mat.all-component-themes($deep-purple-green-dark);
}

// 
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
